NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# MEDIA LIBRARY
NEXT_PUBLIC_BUCKET_NAME=
NEXT_PUBLIC_BUCKET_URL=

NEXT_PUBLIC_APP_URL=
# Upstash (Optional)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=